[user]
        email = name@example.com
        name = Me Mine
[color]
        ui = auto
        #autocrlf = true #Should be set in windows
        editor = vim
        #fileMode = false
        #pager = less -FMRiX #The X decides whether or not the pager clears after hitting q (check)
        excludesfile = /home/$USER/.gitignore_global
[push]
        default = simple
[pull]
        default = simple
[alias]
        dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
        c = commit
        a = add
        s = status
        b = branch
        l = log
        m = merge
        ignored = !git ls-files -v | grep "^[[:lower:]]"
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        currentBranch = rev-parse --abbrev-ref HEAD
        caa = commit -a --amend -C HEAD

