{
  "REALNAME" : null,
  "USERNAME" : null,
  "NICKNAME" : null,

  "TWITCH_OAUTH_PASSWORD" : null,
  "TWITCH_NICKNAME" : null,
  "TWITCH_USERNAME" : null,
  "TWITCH_REALNAME" : null,
  "TWITCH_AUTOCONNECT" : null,
  "TWITCH_CHANNELS_AUTOCONNECT" : "no",

  "HITBOX_PASSWORD" : null,
  "HITBOX_AUTOCONNECT" : null,

  "IRSSIPROXY_PASSWORD" : null,

  "SLACK_DOMAIN" : null,
  "SLACK_IRC_PASSWORD" : null,
  "SLACK_NICKNAME" : null,
  "SLACK_USERNAME" : null,
  "SLACK_REALNAME" : null,
  "SLACK_AUTOCONNECT" : null
}
